<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1585647347384-2593bc35786b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');">
  <div class="container">
    <h1><h1>Watch List</h1></h1>
  </div>
</div>
<br>
<div class="d-flex flex-wrap" style="width: 100%">
  <% @lists.each do |list| %>
    <%= link_to list.name, list_path(list), class: "little-card m-2 text-decoration-none", style:"background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('#{cl_image_path list.image.key, height: 80, crop: :fill}')" %>
  <% end %>
</div>
<br>
<%= link_to "+ add list", new_list_path, class: "btn btn-outline-primary" %>
