<div class="footer">
  <%= link_to icon('fas','home'), :lists, class: "btn btn-outline-primary" %>
  <%= link_to icon('fas', 'sign-out-alt'), destroy_user_session_path, method: :delete, class: "btn btn-outline-danger" %>
</div>
