.btn-list {
  height: 80px;
  border-radius: 5px;
  width: 23.5%;
  padding: 25px 0;
}

.btn-bookmark {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-weight: bold;
  border-radius: 5px;
}

.btn-movie {
  height: 180px;
  display: flex;
  align-items: center;
  border-radius: 0 5px 5px 0;
}

.btn-light {
  border-radius: 0 5px 5px 0;
  color: $green;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.btn-light:hover {
  color: $green;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.btn-light:active {
  color: $green !important;
  background-color: #e2e6ea !important;
  border-color: #dae0e5 !important;
}

.btn-light:focus {
  color: $green;
  background-color: #e2e6ea;
  border-color: #dae0e5;
  box-shadow: none !important;
}

@media (max-width: 539px) {

  .btn-list {
    width: 100%
  }

}
