.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 24px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  h4 {
    overflow: scroll;
    width: 94%;
    height: 75%;
  }

  .btn {
    color: white !important;
  }
}

.scroll {
  overflow-y: scroll;
}

.card-p {
   height: 100px;
}

.movie-card {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  padding: 0;
  margin: 10px auto;
  border-radius: 5px;

  .card-category {
    border-radius: 5px 0 0 5px;
  }
}
