.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 24px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 8px;
  width: 23,5%;
  text-align: left;

  h4 {
    overflow: scroll;
    width: 94%;
    height: 75%;
  }

  .btn {
    color: white !important;
  }
}

.scroll {
  overflow-y: auto;
}

.card-p {
   height: 85%;
}

.bm-p {
  height: 100px;
}

.bm-col {
  width: 23%;
  margin: 0.5rem
}

.movie-card {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  padding: 0;
  margin: 10px auto;
  border-radius: 5px;
  text-align: left;

  .card-category {
    border-radius: 5px 0 0 5px;
  }
}

.description {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 539px) {

  .movie-card {
    width: 100%;
  }

  .bm-col {
    width: 100%;

    .btn {
      margin-bottom: 50px;
    }

  }

}
