.footer {
  position: fixed;
  bottom: 0;
  overflow: hidden;
  background: white;
  width: 100%;
  height: 60px;
  border-top: 1px solid lightgray;
  padding: 8px;
  display: flex;
  justify-content: space-around;
  z-index: 2;
}

.footer-placeholder {
  opacity: 0;
  width: 100%;
  height: 60px;
}
