.list-card {
  background-size: cover;
  background-position: center;
  height: 80px;
  color: white;
  font-size: 18px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 23.5%;
  display: flex;
}

.edit {
  width: 0;
}

.link-card {
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 18px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-top: 1.5rem;
  width: 100%;
}

a.little-card:hover {
  color: white;
}

.fa-edit {
      color: white;
      position: relative;
      right: 30px;
      opacity: 50%;
    }

.fa-edit:hover {
  opacity: 1;
}

@media (max-width: 539px) {

  .list-card {
    width: 100%
  }

}
