.little-card {
  background-size: cover;
  background-position: center;
  height: 80px;
  color: white;
  font-size: 18px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 8px 24px;
  width: 23.5%;
  padding-top: 1.5rem;
}

@media (max-width: 539px) {

  .little-card {
    width: 100%
  }

}
