.popup {
  border-radius: 8px;
  padding: 16px;
  justify-content: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  z-index: 1;
  height: fit-content;
  width: fit-content;
  margin: 20% 35%;
  position: fixed;

  .form-group {
    display: -webkit-inline-box;
  }

  .x {
    color: red;
    position: absolute;
    top: 8px;
    right: 8px;
  }

  button.btn {
    border-radius: 0 4px 4px 0;
  }
}
.bg {
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.438);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
}

input#search_title {
  width: 86%;
  border-radius: 4px 0 0 4px ;
}

input#list_image {
  width: 80%;
  margin: 8px 0;
}
